[Unit]
Description=Mulch VM Management Service
After=network-online.target libvirtd.service

[Service]
User={USER}
ExecStart={MULCHD_START}
Type=simple
Restart=on-failure

[Install]
WantedBy=multi-user.target
