[Unit]
Description=Mulch Reverse Proxy
After=network-online.target

[Service]
User={USER}
ExecStart={MULCH_PROXY_START}
Type=simple
Restart=on-failure
RestartSec=3s
ExecStartPre=+/sbin/setcap 'cap_net_bind_service=+ep' {MULCH_PROXY}
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target
